{{!
/* Code citation
Date: 11/20/2024
Adapted: all code adapted from starter app
From: cs340-nodejs-starter-app
*/}}

<h1>View, Update and Delete Tags for Transactions</h1>
<!-- Dropdown for Filtering -->
<form id="filter-form">
    <label for="transactionFilter">Filter by Transaction:</label>
    <select id="transactionFilter" name="transactionID">
        <option value="">All Transactions</option>
        {{#each transactions}}
        <option value="{{this.id}}">{{this.description}}</option>
        {{/each}}
    </select>
</form>

<!-- Data table -->
<table id="transactiontags">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Transaction Description</th>
            <th>Tag</th>
            <th>Delete</th>
            <th>Update Tag</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.transactionID}}</td>
            <td>{{this.description}}</td>
            <td>{{this.tagName}}</td>
            <td>
                <button class="delete-btn" data-transaction-id="{{this.transactionID}}" data-tag-id="{{this.tagID}}">
                    Delete
                </button>
            </td>
            <td>
                <select>
                    <option value="">Select a Tag</option>
                    {{#each ../tags}}
                    <option value="{{this.id}}">{{this.tagName}}</option>
                    {{/each}}
                </select>
                <button class="update-btn" data-id="{{this.transactionID}}" data-tag-id="{{this.tagID}}">Update</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add a New Tag to an Existing Transaction</h2>
<form id="add-new-transactiontag">
    <label for="transactionID">Transaction:</label>
    <select name="transactionID" id="transactionID">
        <option value="">Select a Transaction</option>
        {{#each transactions}}
        <option value="{{this.id}}">{{this.description}}</option>
        {{/each}}
    </select>

    <label for="tagID">Tag:</label>
    <select name="tagID" id="tagID">
        <option value="">Select a Tag</option>
        {{#each tags}}
        <option value="{{this.id}}">{{this.tagName}}</option>
        {{/each}}
    </select>

    <button type="submit">Add</button>
</form>


<script src="/js/add_transactionTags.js"></script>
<script src="/js/delete_transactionTags.js"></script>
<script src="/js/update_transactionTags.js"></script>

