<h1>View and update Tags for Transactions - TransactionTags junction table</h1>
<table id="transactiontags">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Transaction Description</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value="{{this.transactionID}}">
            <td>{{this.transactionID}}</td>
            <td>{{this.description}}</td>
            <td>{{this.tags}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Adding Data with AJAX</h2>
<p>To add a new transaction with tags, please select a transaction</p>
<form id="add-new-transactiontag" action="/transactiontags/add" method="POST">
    <label for="transaction">Transaction:</label>
    <select name="transactionID" id="transactionID">
        <option value="">Select a Transaction</option>
        {{#each transactions}}
        <option value="{{this.id}}">{{this.description}}</option>
        {{/each}}
    </select>

    <label for="tag">Tag:</label>
    <select name="tagID" id="tagID">
        <option value="">Select a Tag</option>
        {{#each tags}}
        <option value="{{this.id}}">{{this.tagName}}</option>
        {{/each}}
    </select>
    
    <button type="submit">Add</button>
</form>

